:root {
    font-size: 62.5%;
    --navigation-font-family: "Raleway", system-ui;
    --body-text-font-family: "Montserrat", sans-serif;
    --headline-font-family: "Poppins", sans-serif;
    --site-color-01: #122738;
    --site-color-02:#FFFFFF;
    --site-color-03: #E8E9EB;
    --site-color-04: #DB9817; 
    --site-color-05: #122738;
    --site-color-06: #FFFFFF;
    --site-color-07: #141414;
    --site-color-08: #FFFFFF;
    --site-color-09: #000;
    --site-color-10: #000;
    --site-color-11: #122738;
    -site-color-12: #fff;
    -site-color-13: #1F4662;
    --site-color-14: #1877F2;
}

.dark-mode {
    --site-color-01: #E8E9EB;
    --site-color-02: #FFFFFF;
    --site-color-03: #122738;
    --site-color-04: #DB9817; 
    --site-color-05: #122738;
    --site-color-06: #113D65;
    --site-color-07: #141414;
    --site-color-08: #1F4662;
    --site-color-09: #79FFFF;
    --site-color-10: #FFF;
    --site-color-11: #E8E9EB;
    --site-color-12:  #113D65;
    -site-color-13: #1F4662;
    --site-color-14: #DB9817;
}

*{
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    padding: 0;
    max-width: 1280px;
    height: 100vh;
    background-color: var(--site-color-03);
}

body::after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url(../images/fb-color.png) url(../images/in-color.png);
}


h1 {
    font-size: 20px;
    line-height: 18px;
    color: var(--site-color-07);
    font-family: var(--headline-font-family);
    font-weight: 800;
}

h2, h3, h4, h5 {
    font-family: var(--headline-font-family);
}

p {
    font-size: 14px;
    line-height: 18px;
    color: var(--site-color-06);
    font-family: var(--body-text-font-family);
    font-weight: 400;
}

a {
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 18px;
    color: var(--site-color-04);
    font-family: var(--navigation-font-family);
    font-weight: 800;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
}

#menu {
    display: block;
    position:absolute;
    margin-top: 20px;
    right: 40px;
    font-size: 18px;
    font-weight: 800;
    background-color: var(--site-color-08);
    color: var(--site-color-01);
    text-decoration: none;
}

#menu::before {
    content: "≡"; /* Set the content to a hamburger icon */;
}

#menu.open::before {
    content: "X"; /* Change the content to an 'X' icon when the menu is open */;
}

#dark-mode-toggle {
    width: 20px;
    height: 20px;
    align-self: center;
    position: absolute;
    top: 20px;
    right: 18px;
}

#dark-mode-toggle img {
    width: 20px;
    height: 22px;
    background-color: #fff;
    opacity: 70%;
    border-radius: 50%;
}

.header-main {
    width: 100%;
    height: auto;
    background-color: var(--site-color-08);
    position: relative;
}



.header-main-logo img {
    height: auto;
    padding: 5px 0 0 20px;
}

#navigation {
    background-color: var(--site-color-07);
    max-width: 100%;
    margin: 0 auto; /* Ensure it's centered */
}

.header-main-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    padding: 0.5rem 0;
    display: none;
}

.open .nav-item {
    display: block; /* Show items when navigation is open */
}

.nav-item:hover {
    background-color: #012A5D;
    width: 100%;
    text-align: center;
}

.header-main-nav .nav-item a:hover {
    color: var(--site-color-03);
}

.header-main-sm {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding-right: 30px;
    display: none;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 1px;
}

/* .hero-container, */
.events-container,
.weather-container,
.spotlights-container {
    padding: 40px 10px;
    background-color: var(--site-color-06);
    border: 3px solid var(--site-color-01);
    border-radius: 10px;
}

.hero-container {
    margin: 0 auto ;
}

.hero-container-img {
    position: relative;
}

#hero-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.hero-container h1 {
    color: var(--site-color-09);
    text-align: right;
    color: #012A5D;
    position: absolute;
    top: 50%;
    right: 3%;
    background: #f2f2f2a1;
    margin: 0;
}

#subheading {
    margin: 0;
    font-size: 1rem;
    color: #1F4662
}

.main-cta a {
    font-size: 0.8rem;
    position: absolute;
    top: 75%;
    right: 3%;
    margin: 0 auto;
    display: block;
    text-align: center; 
    border: 2px solid var(--site-color-01);
    border-radius: 10px;
    background-color: var(--site-color-04);
    font-weight: 900;
    color: var(--site-color-05);
    padding: 2px 5px;
    width: fit-content;
    transition: all ease-in-out 200ms;
}

.hero-container h2,
.events-container h2,
.weather-container h2,
.spotlights-container h2 {
    color: var(--site-color-09);
}

.main-cta a:hover, .main-cta a:active {
    border: 3px solid #DB9817;
    background-color: var(--site-color-05);
    color: #DB9817;    
}

/* .hero-container, */
.events-container,
.weather-container,
.spotlights-container {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    width: 85%;
    margin: 0 auto;
}

.weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 10px 20px 10px;
    margin: 0 auto;
}

.weather-container h2 {
    margin: 0 0 10px 0;
    font-size: 2rem;
    color: var(--site-color-09);

}

.weather-container .data-title {
    font-family: var(--headline-font-family);
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--site-color-01);

}

.weather-container .data-value {
    font-family: var(--body-text-font-family);
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--site-color-01);
}

.data-table {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1.75rem;
    row-gap: 0.5rem;
}

.data-table .date-title {
    font-family: var(--headline-font-family);
    font-weight: bold !important;
    font-size: 1.2rem;
}

.footer-main {
    width: 100%;
    padding: 20px 0 0px;
    background-color: var(--site-color-07);
    margin: 0 auto;
    margin-top: 40px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-left: 0;
}

.footer-sitemap {
    margin: 0;
    padding: 0;
}

.footer-sitemap a{
    color: var(--site-color-02);
    transition: all ease-in-out 100ms;
    font-weight: 600;
}

.footer-sitemap a:hover{
    color: var(--site-color-04);
    font-weight: 900;
}

.footer-main .nav-item {
    display: block;
    text-align: left;
    background-color: var(--site-color-07);
}

.footer-image-logo {
    display: none;
}

.footer-contact-info {
    padding-left: 20px;
}

.footer-contact-info p {
    color: var(--site-color-02);
    font-size: 1em;
}

#footer-address {
    font-weight: 600;
}

.footer-update-info {
    padding: 20px 0 40px;
}

.footer-update-info p {
    margin: 0;
    text-align: center;
    font-size: 12px;
    color: var(--site-color-04);
}

/* Discover Site */

.main-container-discover {
    max-width: 1280px !important;
    margin: 0 auto !important;
    /* padding: 20px; */
}

.hero-container-discover{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 2em;
}

.hero-container-discover h1 {
    font-size: 3em;
    line-height: 1em;
    background: #f2f2f2a1;
    position: absolute;
    /* padding: 1em; */
}

.main-container-discover h2,
#latest-visit {
    margin-bottom: 20px !important;
    text-align: center;
    color: var(--site-color-10)
}

.main-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    width: 90%;
}

.main-cards-events {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    gap: 1em;
    margin-bottom: 3.5em;
}

.main-cards-events figure img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.main-cards-events figure figcaption {
    text-align: left;
    background-color: var(--site-color-07);
    color: var(--site-color-02);
    font-size: 1em;
    font-family: var(--body-text-font-family);
    padding: 5px 0 5px 5px;
    width: 350px;
    margin: -1% 0
}

.main-cards-events-info {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 0.2em;
    padding: 0;
}

.main-cards-events-info p {
    margin: 0;
    text-align: left;
}

.main-cards-events-info, 
.category {
    font-family: var(--navigation-font-family);
    color: var(--site-color-09);
    font-weight: 800;
}

.main-cards-events-info, 
.tittle {
    font-family: var(--body-text-font-family);
    font-size: 1.5em;
    line-height: 1.2em;
    font-weight: 900;
    color: var(--site-color-11);
}

.main-cards-events-info, 
.date, 
.location {
    margin: 0;
    font-family: var(--body-text-font-family);
    color: var(--site-color-10);
}

.location::before {
    content: '📌';
}

/* General styling for form elements */
.join-main  {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 1em;
}

.form-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
    font-family: var(--body-text-font-family);
    color: var(--site-color-01);
    font-size: 1.2em;
    font-weight: 600;
}

.form-section h1,
.benefits-section h2 {
    font-family: var(--headline-font-family);
    color: var(--site-color-09);
    padding: 1em;
    margin: 0;
    text-align: center;
}

.membership-form {
    width: clamp(300px, 100%, 450px);
    border: 1px solid var(--site-color-01);
    border-radius: 6px;
    padding: .5rem 2%;
}

.membership-form label {
    display: block;
    padding-top: .5em;
    font-family: var(--body-text-font-family);
    color: var(--site-color-01);
    font-size: 1em;
}
.membership-form input[type="text"],
.membership-form input[type="email"],
.membership-form input[type="tel"],
.membership-form textarea {
    width: 100%;
    padding: 0.5em;
    font-size: 1.2em;
    appearance: none;
    max-width: 450px;
    border-radius: 6px;
}

.membership-form div {
    padding-top: 1em;
    margin: 0;
}

.membership-form label:has(input[type="radio"]) {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 10px 0; 
    cursor: pointer;
    font-size: 1em;
}

.membership-form input[type="radio"] {
    margin-right: 6px;
    padding: 10px 0;
    cursor: pointer; /* Add cursor pointer for better UX */
}

.membership-form #label-description {
    padding-top: 1em;
}

.membership-form input[type="submit"] {
    border: none;
    outline: none;
    border-radius: 6px;
    height: 2.75em;
    padding: .8em;
    max-width: 450px;
    color: var(--site-color-06);
    font-size: 1.4em;
    background: var(--site-color-09);
    box-shadow: 1px 1px 4px var(--site-color-11);
    text-transform: uppercase;
    font-weight: 700;
    width: 96%;
    margin: 1.5em 2% 1.5rem 2%;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.membership-form input[type="submit"]:hover {
    background: var(--site-color-14);
    color: var(--site-color-03);
    font-weight: bold;
}

/* Styling for the benefits table */
.benefits-section table {
    border-collapse: collapse;
    font-family: var(--body-text-font-family);
    font-size: 1.1em;
    border: 1px solid var(--site-color-01);
    box-shadow: 1px 1px 1px var(--site-color-10);
    border-radius: 6px;
    padding: .5rem 2%;
    width: 100%;
}

.benefits-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
}

.benefits-section th,
.benefits-section td {
    padding: 0.75em;
    text-align: left;
    border: 1px solid var(--site-color-01);
    color: var(--site-color-10);
}

.benefits-section th {
    text-align: center;
    padding: 1em;
    font-size: 1.1em;
    /* background: var(--site-color-10); */
    color: var(--site-color-10);
}

.benefits-section td ul {
    padding-left: 1.25em;
}

.benefits-section tbody tr:nth-child(odd) {
    background: hsl(0, 0%, 85%);
}

/* Styling for the Thank You page content */
.thank-you-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 700px;
    margin-top: 2em;
    padding: 1em 2em;
    gap: 1em;
    height: calc(100vh - 380px);
}

.thank-you-main h1 {
    font-family: var(--headline-font-family);
    font-size: 1.75em;
}

.thank-you-main p {
    color: var(--site-color-10);
}

.thank-you-main a {
    font-family: var(--body-text-font-family);
    text-transform: capitalize;
    color: var(--site-color-14);
    transition: all ease-in-out 0.2s;
}

.thank-you-main a:hover {
    color: var(--site-color-01);
}
