:root {
    font-size: 62.5%;
    --background-color: #1e1e1e;
    --navigation-font-family: "Raleway", system-ui;
    --body-text-font-family: "Montserrat", sans-serif;
    --headline-font-family: "Poppins", sans-serif;
    --site-color-01: #012A5D;
    --site-color-02:#1877F2;
    --site-color-03: #DEE2E7;
    --site-color-04: #DB9817; 
}

/* * {
        border: 1px solid red;

} */

body {
    background-color: var(--site-color-01);
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1280px;
}

body::after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url(../images/fb-color.png) url(../images/in-color.png);
}

a {
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 18px;
    color: var(--site-color-03);
    font-family: var(--navigation-font-family);
    font-weight: 800;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    transition: all ease-in-out 200ms;
}

#menu {
    display: block;
    position:absolute;
    margin-top: 16px;
    right: 30px;
    /* font-family: var(--body-text-font-family); */
    font-size: 2.5rem;
    font-family: 700;
    background-color: var(--site-color-03);
    color: var(--site-color-01);
    text-decoration: none;
}

#menu::before {
    content: "≡"; /* Set the content to a hamburger icon */;
}

#menu.open::before {
    content: "X"; /* Change the content to an 'X' icon when the menu is open */;
}

.header-main {
    width: 100%;
    /* height: 60px; */
    background-color: var(--site-color-03);
    /* display: flex;
    justify-content: flex-start;
    align-items: center; */
    z-index: 1000;
}

.header-main-logo img {
    width: fit-content;
    height: auto;
    padding: 5px 0 0 20px;
}

nav {
    background-color: #1e1e1e;
    max-width: 100%;
    margin: 0 auto; /* Ensure it's centered */
}

.header-main-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    padding: 0.5rem;
    display: none;
}

.open .nav-item {
    display: block; /* Show items when navigation is open */
}

.header-main-nav a:hover {
    color: var(--site-color-04);
    text-decoration: underline overline;;
}

.header-main-sm {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding-right: 30px;
}

.header-main-sm-fb {
    width: 20px;
    height: 20px;
    background-image: url(../images/fb-bw.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}

.header-main-sm-fb:hover {
    background-image: url(../images/fb-color.png);
}

.header-main-sm-in {
    width: 20px;
    height: 20px;
    background-image: url(../images/in-bw.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}

.header-main-sm-in:hover {
    background-image: url(../images/in-color.png);
}




