/* Media Query for Larger Viewer */
@media ( min-width: 840px ) {

    body {
        max-width: 1280px;
        margin: 0 auto;
    }

    #menu {
        display: none;
    }

     .header-main {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .header-main-logo {
        width: fit-content;
    }

    .header-main-logo img {
        width: 150px;
        height: auto;
        padding: 0 0 0 20px;
    }

    #navigation {
        background-color: var(--site-color-08) !important;
        align-self: center;
        width: 100%;
    }

    #dark-mode-toggle {
        display: block;
        position: relative;
        inset: 0;
        align-self: flex-start;
        padding-top: .5em;
        width: 20px;
        height: auto;
    }

    .header-main-nav {
        display: flex;
        flex-direction: row !important;
        align-self: center;
        justify-content: flex-start;
        padding: 10px 20px;
        gap: 20px;
    }

    .nav-item {
        display: block;
    }

    header .nav-item:hover {
        width: auto;
        background-color: var(--site-color-08);
    }

    header .nav-item a {
        padding: 10px;
        font-size: 2.5em;
        font-family: var(--navigation-font-family);
        font-weight: 900;
        color: var(--site-color-11);
        transition: all ease-in-out 200ms;
    }

    header .nav-item a:hover {
        color: var(--site-color-14) !important;
        text-decoration: underline;
        text-underline-offset: -25px;
        padding: 5px 0;
    }

    .header-main-sm {
        width: fit-content;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 10px;
        align-self: center;
    }

    .header-main-sm-fb {
        width: 20px;
        height: 20px;
        display: block;
        background-image: url(../images/fb-bw.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header-main-sm-fb:hover {
        background-image: url(../images/fb-color.png);
    }

    .header-main-sm-in {
        width: 20px;
        height: 20px;
        display: block;
        background-image: url(../images/in-bw.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header-main-sm-in:hover {
        background-image: url(../images/in-color.png);
    }
    .main-container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 15px;
        row-gap: 20px;
        align-items: center;
        text-align: center; 
        width: 100%;
    }

    .hero-container {
        grid-column: span 6;
        grid-row: 1 / 2;
    }


    .hero-container h1 {
        font-size: 3.2rem;
        line-height: 3.2rem;
        top: 50%;
    }

    #subheading {
        font-size: 2rem;
    }
    
    .main-cta a {
        font-size: 1.3rem;
        top: 75%;
        font-size: 1.5rem;
        padding: 15px 25px;
    }

    .banner {
        grid-column: span 6;
        grid-row: 2 / 3;
    }

    .banner p {
        font-size: 1.8rem;
    }

    .events-container {
        grid-column: span 3;
        grid-row: 3 / 4;
        height: 100%;
        margin-left: 60px;
    }

    .weather-container {
        grid-column: 4 / -1;
        grid-row: 3 / 4;
        margin-right: 60px;
    }

    .weather-container h2 {
        margin: 20px 0 10px 0;
        font-size: 2.25rem;
    }

    .category-events h2,
    .weather-container h2,
    .category-spotlights h2 {
        font-size: 2.5rem;
    }
    
    .weather-container .data-title {
        font-family: var(--headline-font-family);
        font-weight: 600;
        font-size: 1.75rem;
    }
    
    .weather-container .data-value {
        font-family: var(--body-text-font-family);
        font-weight: 400;
        font-size: 1.75rem;
    }

    .spotlights-container {
        grid-column: span 6;
        grid-row: 4 / 5;
        min-height: 250px;
        max-height: 300px;
        width: 90%;
        height: 100%;
        margin-top: 20px;
    }

    .footer-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .footer-sitemap {
        padding-left: 10px;
        border-left: 2px solid var(--site-color-04);
    }

    .footer-sitemap a{
        color: var(--site-color-02);
        transition: all ease-in-out 100ms;
        font-weight: 600;
    }
    
    footer .footer-sitemap a:hover{
        color: var(--site-color-04);
        font-weight: 900;
        text-decoration: none;
    }
   
    .footer-image-logo {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: flex-start;
    }

    .footer-image-logo img {
        width: 150px;
        height: auto;
    }

    .footer-contact-info p {
        font-size: 1.5em;
    }
    
    .footer-main-sm {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2 , auto);
        justify-content: center;
        column-gap: 20px;
    }
    
    .footer-main-sm-fb {
        width: 20px;
        height: 20px;
        /* margin-right: 10px; */
        background-image: url(../images/footer-sm-fb-logo.png);
        background-repeat: no-repeat;
        background-size: cover;
        transition: all ease-in-out 200ms;
    }
    
    .footer-main-sm-in {
        width: 20px;
        height: 20px;
        /* margin-left: 10px; */
        background-image: url(../images/footer-sm-in-logo.png);
        background-repeat: no-repeat;
        background-size: cover;
        transition: all ease-in-out 200ms;
    }
    
    .footer-main-sm-fb:hover,
    .footer-main-sm-in:hover {
        opacity: 0.4;;
    } 
    
    #footer-address {
        font-weight: 600;
    }
    
    .footer-update-info {
        padding: 40px 0 20px;
    }

    #discover-title .hero-container h1{
        grid-column: 3 / 5 !important; 
        text-align: center;
    }

    /* Discover Site */
    .hero-container-discover h1 {
        font-size: 4.5em;
        line-height: 1.5em;
    }

    .main-container-discover h2 {
        font-size: 2em;
    }

    .discover-content-container {
        display: grid;
        grid-template-columns: 30% 70%;
        width: 100%;
        justify-items: center;
        align-items: center;
    }

    .discover-weather-column {
        align-self: flex-start;
        width: 100%;
    }

    .discover-weather-column .weather-container{
        margin-inline: auto;
        width: min(max(220px, 100%), 300px);
    }

    .main-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        column-gap: 4em;
        width: 100%;
    }

    .main-cards-events {
        flex: 1 1 auto;
        max-width: 350px;
    }

    .main-cards-events figure img {
        width: 100%;
        height: auto;
    }

    .main-cards-events figure:hover img {
        filter: brightness(60%); 
    }

    .main-cards-events figure figcaption {
        width: 350px;
    }

    .main-cards-events-info p {
        font-size: 1.1em;
    }

    .main-cards-events-info .category {
        font-size: 1.2em;
    }

    .main-cards-events-info .tittle {
        font-size: 1.3em;
    }
    
    /* General styling for form elements */

    /* Change the layout of .join-main to create two columns */
    .join-main {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 1em;
        margin: 0;
        /* padding: 1em; */
      }

    .form-section {
        flex: 1;  /* This allows the form to grow and take available space */
        max-width: 60%;  /* Limit the maximum width to 60% of the container */
        margin-top: 2em;
    }

    .form-section h1 {
        font-size: 2.2em;
    }

    .membership-form label {
        font-size: 1.2em;
        padding-top: .75em;
    }

    .membership-form input[type="text"],
    .membership-form input[type="email"],
    .membership-form input[type="tel"],
    .membership-form textarea {
        max-width: none;  /* Allow inputs to expand to full width of the form */
        font-size: 1.3em;
    }

    .membership-form div {
        font-size: 1.2em;
    }

    .membership-form label:has(input[type="radio"]) {
        font-size: 1.2em;
    }

    .membership-form input[type="submit"] {
        font-size: 1.6em;
    }

    /* Styling for the benefits table */
    .join-main {
        display: flex;
        justify-content: center;
        max-width: 95%;
        margin-inline: auto;
        margin-top: 2em;
    }

    .benefits-section {
        flex: 1;  /* This allows the benefits section to grow and take available space */
        max-width: 40%;  /* Limit the maximum width to 35% of the container */
        position: sticky;  /* Make the benefits section stick when scrolling */
        top: 12vh;  /* Add some top spacing when sticking */
    }

    .benefits-section table {
        width: 100%;  /* Make the table full-width within the aside */
        font-size: 1.5em;
    }

    .benefits-section h2 {
        font-size: 1.75em;  /* Slightly smaller than the main form heading */
    }

    /* Styling for the Directory page */
    .main-container-directory .hero-container-directory h1 {
        font-size: 3em;
        line-height: 2em;
    }

    /* Styling for the Directory page Grid*/
    .business-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        justify-items: center;
        gap: 3em;
        margin-inline: auto;
        width: 100%;
        max-width: 95%;
    }

    .business-card-img  {
        width: 200px;
        height: auto;
    }
    
    .business-card-h2 {
        font-size: 1.75em;
    }
    
    .business-card .business-card-p {
        font-size: 1.5em;
    }

    .business-card-span {
        font-size: 1.1em;
    }
    
    .business-card-a {
        font-size: 1.4em;
    }

    /* Styling for the Directory page List*/
    .business-list {
        max-width: 95%;
        row-gap: 0;
    }
    
    .card-list {
        display: grid;
        grid-template-columns: 1.5fr 1.75fr .75fr 1.5fr 1.5fr;
        align-items: center;
        justify-content: start;
        padding: 1em;
        border-bottom: 1px solid #ddd;
        width: 100%;
    }

    .list-card-h2 {
        font-size: 1.45em;
        line-height: 1.75em;
        justify-self: flex-start;
        width: 100%;
        padding: 0;
    }

    .list-address,
    .list-contact,
    .list-url,
    .list-membership {
        font-size: 1.3em;
        line-height: 1.75em;
        padding-left: 1em;
        margin: 0;
        text-align: left;
        width: 100%;
        padding: 0;
    }

    .list-url a{
        padding-top: 0;
        font-size: .9em;
    }

    /* Style Weather Card */
    .date-display {
        font-size: 2em !important;
        width: 140px;
    }

    .icon-container {
        min-width: 100px;
    }

    .weather-description {
        text-transform: capitalize;
        font-style: italic;
        font-size: 1.2em;
        display: block;
        margin-top: -1.25em;
        opacity: .8;
    }

    .temp-value {
        font-size: 2.5em;
    }

}