/* Media Query for Medium Viewer */
@media ( 520px <= width <= 780px ) {

    #menu {
        display: none;
    }

    .header-main {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-main nav {
        background-color: aqua;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .header-main-nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 15px;
    }

    .header-main-sm {
        display: flex;
        gap: 10px;
        justify-content: flex-end;
    }

    .header-main .logo img {
        width: 5000px; /* Ajustar tamaño del logo para el viewport mediano */
      }


    .main-container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 2fr 0.5fr 0.5fr 1fr ;
        grid-gap: 10px;
        align-items: center;
        text-align: center; 
    }

    .hero-container {
        grid-column: span 6;
    }

    .events-container {
        grid-column: span 3;
        grid-row: 2 / 4;
    }

    .weather-container {
        grid-column: 4/-1;
        grid-row: 2 / 4;
    }

    .spotlights-container {
        grid-column: span 6;
        grid-row: 4 / -1;
    }

    .footer-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .footer-sitemap {
        padding-left: 10px;
        border-left: 2px solid var(--site-color-04);
    }
   
    .footer-image-logo {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .footer-image-logo img {
        width: 150px;
        height: auto;
    }
    
    .footer-main-sm {
        width: fit-content;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        margin-top: -10px;
    }
    
    .footer-main-sm-fb {
        width: 20px;
        height: 20px;
        background-image: url(../images/footer-sm-fb-logo.png);
        background-repeat: no-repeat;
        background-size: cover;
        transition: all ease-in-out 200ms;
    }
    
    .footer-main-sm-in {
        width: 20px;
        height: 20px;
        background-image: url(../images/footer-sm-in-logo.png);
        background-repeat: no-repeat;
        background-size: cover;
        transition: all ease-in-out 200ms;
    }
    
    .footer-main-sm-fb:hover,
    .footer-main-sm-in:hover {
        opacity: 0.4;;
    } 
    
    #footer-address {
        font-weight: 600;
    }
    
    .footer-update-info {
        padding: 40px 0 20px;
    }


}

