/* Media Query for Medium Viewer */
@media ( 580px <= width <= 839px ) {

    body {
        max-width: 1280px;
        margin: 0 auto;
    }

    #menu {
        display: none;
    }

    .header-main {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-content: center;
    }

    .header-main-logo {
        width: fit-content;
    }

    .header-main-logo img {
        width: 100px;
        height: auto;
        padding-top: 0;
    }

    #navigation {
        background-color: var(--site-color-08) !important;
        align-self: center;
        width: 100%;
    }

    #dark-mode-toggle {
        display: block;
        position: relative;
        inset: 0;
        align-self: flex-start;
        padding-top: .4em;
        width: 20px;
        height: auto;
    }
    
    .header-main-nav {
        display: flex;
        flex-direction: row !important;
        align-self: center;
        justify-content: flex-start;
        padding: 10px 20px;
    }

    .nav-item {
        display: block;
    }

    header .nav-item:hover {
        width: auto;
        background-color: var(--site-color-08);
    }

    header .nav-item a {
        padding: 10px;
        font-size: 16px;
        font-family: var(--navigation-font-family);
        font-weight: 900;
        color: var(--site-color-11);
        transition: all ease-in-out 200ms;
    }

    .nav-item a:hover {
        color: var(--site-color-14) !important;
        text-decoration: underline;
        text-underline-offset: -20px;
        padding: 5px 0;
    }

    .header-main-sm {
        width: fit-content;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 10px;
        align-self: center;
    }

    .header-main-sm-fb {
        width: 15px;
        height: 15px;
        display: block;
        background-image: url(../images/fb-bw.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header-main-sm-fb:hover {
        background-image: url(../images/fb-color.png);
    }

    .header-main-sm-in {
        width: 15px;
        height: 15px;
        display: block;
        background-image: url(../images/in-bw.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header-main-sm-in:hover {
        background-image: url(../images/in-color.png);
    }

    .main-container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 10px;
        row-gap: 15px;
        align-items: center;
        text-align: center; 
    }

    .hero-container {
        grid-column: span 6;
        grid-row: 1 / 2;
    }

    .hero-container h1 {
        font-size: 2.75rem;
        line-height: 2.75rem;
        top: 50%;
        right: 3%;
    }

    #subheading {
        font-size: 1.5rem;
    }
    
    .main-cta a {
        font-size: 1.1rem;
        top: 75%;
        right: 3%;
        font-size: 1.2rem;
        padding: 10px 15px;
    }

    .banner {
        grid-column: span 6;
        grid-row: 2 / 3;
    }

    .banner p {
        font-size: 1.6rem;
    }

    .events-container {
        grid-column: span 3;
        grid-row: 3 / 4;
        height: 100%;
        margin-left: 40px;
    }

    .weather-container {
        grid-column: 4 / -1;
        grid-row: 3 / 4;
        margin-right: 40px;
    }

    .weather-container h2 {
        margin: 20px 0 10px 0;
        font-size: 2rem;
    }
    
    .weather-container .data-title {
        font-family: var(--headline-font-family);
        font-weight: 600;
        font-size: 1.5rem;
    }
    
    .weather-container .data-value {
        font-family: var(--body-text-font-family);
        font-weight: 400;
        font-size: 1.75rem;
    }

    .spotlights-container {
        grid-column: span 6;
        grid-row: 4 / 5;
        min-height: 250px;
        max-height: 300px;
        width: 90%;
        margin-top: 15px;
    }

    .footer-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .footer-sitemap {
        padding-left: 10px;
        border-left: 2px solid var(--site-color-04);
    }

    .footer-sitemap a{
        color: var(--site-color-02);
        transition: all ease-in-out 100ms;
        font-weight: 600;
    }

    footer .footer-sitemap a:hover{
        color: var(--site-color-04) !important;
        font-weight: 900;
        text-decoration: none;
    }
   
    .footer-image-logo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-image-logo img {
        width: 120px;
        height: auto;
    }

    .footer-contact-info p {
        font-size: 1.2em;
    }
    
    .footer-main-sm {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2 , auto);
        justify-content: center;
        column-gap: 20px;
    }
    
    .footer-main-sm-fb {
        width: 20px;
        height: 20px;
        background-image: url(../images/footer-sm-fb-logo.png);
        background-repeat: no-repeat;
        background-size: cover;
        transition: all ease-in-out 200ms;
    }
    
    .footer-main-sm-in {
        width: 20px;
        height: 20px;
        background-image: url(../images/footer-sm-in-logo.png);
        background-repeat: no-repeat;
        background-size: cover;
        transition: all ease-in-out 200ms;
    }
    
    .footer-main-sm-fb:hover,
    .footer-main-sm-in:hover {
        opacity: 0.2;
    } 
    
    #footer-address {
        font-weight: 600;
    }
    
    .footer-update-info {
        padding: 40px 0 20px;
    }

     /* Discover Site */
     .hero-container-discover h1 {
        font-size: 4em;
    }

    .main-container-discover h2 {
        font-size: 1.8em;
    }

    .discover-content-container {
        display: grid;
        grid-template-columns: 40% 60%;
        width: 100%;
        justify-items: center;
        align-items: center;
    }

    .discover-weather-column {
        align-self: flex-start;
        width: 100%;
    }

    .discover-weather-column .weather-container{
        margin-inline: auto;
        width: minmax(220px, 275px);
    }

    .main-cards {
        width: 100%;
    }

    .main-cards-events figure img {
        width: 310px;
        height: auto;
    }

    .main-cards-events figure:hover img {
    filter: brightness(60%); 
    }


    .main-cards-events figure figcaption {
        width: 310px;
    }


    /* General styling for form elements */
    /* Styling for the benefits table */
    .benefits-section table {
        width: 100%;  /* Make the table full-width within the aside */
        font-size: 1.25em;
    }

    .benefits-section h2 {
        font-size: 1.5em;  /* Slightly smaller than the main form heading */
    }

    /* Styling for the Directory page */
    .main-container-directory .hero-container-directory h1 {
        font-size: 2.2em;
        line-height: 1.8em;
    }

    .business-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
        justify-content: center;
        justify-items: center;
        align-items: center;
        gap: 1em;
        margin-inline: auto;
        width: 100%;
        max-width: 95%;
    }

    .business-card-img  {
        width: 175px;
        height: auto;
    }
    
    .business-card-h2 {
        font-size: 1.65em;
    }
    
    .business-card-p {
        font-size: 1.2em;
    }

    .business-card-span {
        font-size: 1.1em;
    }
    
    .business-card-a {
        font-size: 1.2em;
    }

    /* Styling for the Directory page List*/
    .business-list {
        display: flex;
        flex-direction: column;
        row-gap: 3em;
        width: 100%;
    }

    .list-card-h2 {
        font-size: 1.5em;
    }

    .list-address,
    .list-contact,
    .list-url {
        font-size: 1.2em;
        line-height: 1.6em;
    }
}