:root {
    --headline-font-family: "Roboto Slab", serif;
    --navigation-font-family: "Rubik", sans-serif;
    --main-font-family: "Open Sans", sans-serif;
    --site-color-01: #000;
    --site-color-02: #fff;
    --site-color-03: #fb872c;
    --site-color-04: #141023;
    --site-color-05: #333;
    --site-color-06: #f2f2f2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--main-font-family);
    width: 100%;
    max-width: 1980px;
    height: 100vh;
    background-color: var(--site-color-06);
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--headline-font-family);
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button {
    font-family: var(--navigation-font-family);
}

/* -----Header---- */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 2%;
    background-color: var(--site-color-01);
    color: var(--site-color-06);
}

.logo  {
    display: flex;
    align-items: center;
}

.logo > img {
    width: 100px;
    height: auto;
}

.logo-brand {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0 0 .2rem 0;
    font-family: var(--headline-font-family);
}

.logo-brand h1 {
    font-size: 1.1rem;
    margin: 0;
}

.logo-brand p {
    font-size: .65rem;
    color: var(--site-color-03);
    margin: 0;
}

/* Hamburger Button */
#menu-btn {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 25px;
    padding: 5px 0;
    cursor: pointer;
}

#menu-btn span {
    display: block;
    height: 3px;
    background-color: var(--site-color-02);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

/* -----Navigation---- */
#menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%; /* Hidden initially */
    width: 100%; /* Adjust for desired menu width */
    color: var(--site-color-02);
    background-color: var(--site-color-01);
    z-index: 100;
    transition: left 0.3s ease-out; /* Smooth slide animation */
}

/* Slide-menu left */
#menu.show-menu {
    left: 0; /* Slides in */
}

#close-btn {
    position: absolute;
    top: -.5%;
    right: 1%;
    font-size: 3.5rem;
    font-weight: 400;
    cursor: pointer;
    color: var(--site-color-06);
}

#menu ul {
    list-style: none;
    padding: 5rem 2rem;
}

#menu ul li {
    font-family: var(--navigation-font-family);
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 4rem;
}

#menu ul li.active a {
    color: var(--site-color-03);
}

#menu ul li a {
    color: rgba(221, 221, 221, 0.6);
}

/* -----Main--- */

/* -----Hero Container--- */
.hero-container {
    position: relative;
}

#hero-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.hero-container-heading {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--site-color-01);
    font-weight: 800;
    background-color: rgba(255, 255, 255, 0.5);
    line-height: 2rem;
    padding: 1rem;
    width: fit-content;
    z-index: 1;
}

/* ------Banner Style------ */
.banner {
    font-size: var(--navigation-font-family);
    color: var(--site-color-06);
    font-size: 1rem;;
    text-align: center;
    background: var(--site-color-05);
    width: 100%;
    padding: 1.5rem;
    margin-top: -.25rem;
}

.banner h3 {
    margin-bottom: .5rem;
}

.banner p {
    font-size: 1rem;
}

#closeable-message {
    border-radius: .25rem;
    cursor: pointer;
    margin-top: 1rem;
    padding: .75rem;
}

/* -----Company Highlight--- */
.company-highlight-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

.company-highlight-container h3 {
    align-self: flex-start;
    padding-left: 1.5rem;
}

.company-mission-values p {
    font-size: 1rem;
    line-height: 1.5rem;
    padding:  0.5rem 1.5rem;
    margin: 0;
    margin-bottom: 1.5rem;
}

.company-highlight-container button {
    padding: .75rem;
    border: none;
    border-radius: .25rem;
    background: var(--site-color-05);
    color: var(--site-color-06);
    margin: auto;
    margin-bottom: 1.5rem;
    transition: all ease-in-out 0.2s;
}

.company-highlight-container button:hover {
    color: var(--site-color-03);
    background: var(--site-color-01);

}

.company-highlight-container img {
    width: 300px;
    height: auto;
    margin: 1rem 0;
}

/* -----Banner-2 Style---- */
.banner-2, 
.reservation-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--site-color-05);
    color: var(--site-color-06);
    padding: 1.5rem;
}

.banner-2 h3 {
    line-height: 1.5rem;
}

/* -----Rentals Card--- */

.rental-heading-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--site-color-05);
    color: var(--site-color-06);
    padding: 1.5rem;
}

.rental-heading-message  p {
    padding: 1rem 0;
    line-height: 1.2rem;
}

.rentals-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2.5rem 0;
}

.rentals-card h3, 
.rentals-card h4 {
    align-self: flex-start;
    margin: 0 0 .5rem 1.5rem;
}

.rentals-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1.5rem;
    margin: 1rem;
}

.type-scooters {
    position: relative;
    background-image: url(../images/scooters.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 300px; 
    height: 200px; 
}

.type-scooters h3,
.type-atvs h3, 
.type-jeeps h3 {
    position: relative;
    align-self: center;
    font-family: var(--navigation-font-family);
    color: var(--site-color-02);
    font-size: 2rem;
    text-transform: uppercase;
    text-shadow: 0 4px 0 var(--site-color-05);
    margin: 0 auto;
    z-index: 100;
}

.dark-overlay {
    position: absolute;
    inset: 0;
    background: var(--site-color-01);
    opacity: 0.4;
    transition: all ease-in-out 0.2s;
}

.type-scooters:hover .dark-overlay {
    opacity: 0.8;
}

.type-atvs {
    position: relative;
    background-image: url(../images/atvs.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 300px; 
    height: 200px; 
}

.type-jeeps {
    position: relative;
    background-image: url(../images/jeeps.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 300px; 
    height: 200px; 
}

/* -----Current Weather Card---- */
.current-weather-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: .75rem 1rem;
    background: var(--site-color-05);
    color: var(--site-color-06);
    margin-bottom: 0;
}

.current-weather-card h3 {
    grid-column: 1 / -1;
    margin-bottom: 1rem;
}

.current-weather-card h3 {
    margin: .5rem 0;
}

.current-weather-card p {
    font-size: .8rem;
    margin: .25rem;
}

#current-conditions {
    text-transform: capitalize;
}

/* -----Forecast Weather Card---- */
.forecast-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.forecast-card h3 {
    padding: 1.5rem;
}

.forecast-table {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    justify-items: center;
    align-items: center;
    gap: .5rem;
    margin: 0 auto 2.5rem;
    width: max-content;
    border-radius: .25rem;
    background: linear-gradient(180deg, hsl(210, 100%, 75%), hsl(40, 100%, 75%));
    padding: .5rem;
}

.forecast-item {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center;
    row-gap: .2rem; 
  }

.weather-desc {
    text-transform: capitalize;
    font-size: .8rem;
    font-style: italic;
}

.temp-display {
    font-weight: 700;
}

/* -----location Card---- */
.location-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}

.location-card h3 {
    align-self: flex-start;
    padding-left: 1.5rem;
}

.location-card-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.location-card-desc p {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0.5rem 1.5rem;
    margin: 0 0 1.5rem;
}

.location-card-desc button {
    padding: .75rem;
    border-radius: .25rem;
    background: var(--site-color-05);
    color: var(--site-color-06);
    transition: all ease-in-out 0.2s;
}

.location-card-desc button:hover {
    color: var(--site-color-03);
    background: var(--site-color-01);
}

.location-card-desc iframe {
    width: 100%;
    height: auto;
    padding: 1rem 1.5rem;
    margin-top: 1.5rem;
}

/* -----Footer---- */
.footer-top-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--site-color-01);
    color: var(--site-color-02);
    padding: 1.5rem;
}

footer p {
    font-size: .75rem;
    line-height: 1.1rem;
}

.footer-about-us {
    align-self: center;
}

.footer-about-us img {
    width: 150px;
    height: auto;
}

.footer-contact-info a {
    color: var(--site-color-02);
    padding: 1rem;
}

.footer-contact-info h4,
.footer-social-media-channels h4 {
    font-size: .9rem;
    margin: 1rem 0 0;
}

.footer-contact-info p {
    margin-top: 0.2rem;
    margin-left: 0;
}

.footer-social-media-channels {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footer-social-media-channels .sm-icons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 1rem;
    margin: .5rem 0;
    cursor: pointer;
}

.social-media-icon {
    width: 30px;
    height: auto;
}

.footer-bottom-container {
    background-color: var(--site-color-05);
    padding: 1.5rem;
    margin-top: 0;
}

.footer-bottom-container p,
.footer-bottom-container a {
    color: var(--site-color-02);
}

/* -----Rentals Page Style ---- */
.card-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 0;
}

#test {
    width: 100%;
    background: var(--site-color-05);
}
.card-section h3 {
   text-align: center;
    color: var(--site-color-06);
    padding: 1.5rem;
}

#card-section-rental-options {
    margin-top: 0;
}

.rental-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: .5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .75rem;
    width: minmax(250px, 300px);
    height: auto;
    padding: 1rem;
    margin: 0 1rem 2rem;
    transition: all ease-in-out 0.2s;
}

.rental-option:hover {
    /* New Morphism */
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1),
    -10px -10px 10px white; 
}

.rental-option:last-child {
    margin: 0;
}

#rental-option img {
    padding: .5rem 0;
}

.bold-span {
    font-weight: 600;
}
reservation-heading
.bold-price {
    font-size: 1rem;
    font-weight: 600;
}


#cta-let-connect {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 2.5rem;
    width: 100%;
}

.cta-rentals {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#cta-rentals button,
#cta-let-connect button {
    border: none;
    background: var(--site-color-05);
    color: var(--site-color-06);
    font-family: var(--navigation-font-family);
    border-radius: .25rem;
    padding: .75rem;
    margin: 2rem 0 0;
    transition: all ease-in-out .2s;
}

#cta-rentals button:hover,
#cta-let-connect button:hover {
    background: var(--site-color-01);
    color: var(--site-color-03);
}

#cta-rentals button a,
#cta-let-connect a {
    color: inherit;
}

a button {
    border: none;
    background: var(--site-color-05);
    color: var(--site-color-06);
    font-family: var(--navigation-font-family);
    border-radius: .25rem;
    padding: .75rem;
    margin: 2rem 0;
    transition: all ease-in-out .2s;
}

a button:hover {
    background: var(--site-color-01);
    color: var(--site-color-03);
}

/* -----Reservation Page Styling--- */
    /* -----Reservation Form--- */
.reservation-section {
    background: rgb(0, 0, 0, .2);
    border-radius: .25rem;
    padding: 1rem;
    margin: 2rem 1.5rem 2.5rem ;
}

.reservation-section h4 {
    text-align: center;
    font-size: 1.1rem;
}

.reservation-form {
    accent-color: var(--site-color-04);
}

.reservation-form fieldset {
    border: 1px solid var(--site-color-02);
    border-radius: .25rem;
    padding: 0 1rem 1rem;
    margin: 1em 0 1.5rem;
}

.reservation-form legend {
    font-family: var(--navigation-font-family);
    font-weight: 500;
    padding: 0 .5rem;
}

.reservation-form label {
    display: block;
    font-size: .75rem;
    padding-top: .75rem;
}

.required-symbol {
    font-weight: 700;
}

.reservation-form div {
    font-size: .75rem;
    padding-top: .75rem;
}

.reservation-form input[type="text"],
.reservation-form input[type="email"],
.reservation-form input[type="tel"],
.reservation-form input[type="date"],
.reservation-form input[type="time"],
.reservation-form select,
.reservation-form textarea {
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: .25rem;
    background: var(--site-color-02);
    padding: .7rem;
    font-size: .9rem;
    color: var(--site-color-01);
    width: 100%;
    margin-top: .1rem;
    max-width: 800px;
    appearance: none;
}

.reservation-form input[type="radio"],
.reservation-form input[type="checkbox"] {
    margin-right: .5rem;
}

.reservation-form input[type="submit"] {
    cursor: pointer;
    background: var(--site-color-05);
    color: var(--site-color-06);
    font-family: var(--navigation-font-family);
    border: none;
    border-radius: .25rem;
    padding: .75rem;
    width: 96%;
    max-width: 800px;
    margin: -2rem 2% 1rem 2%;
    transition: all ease-in-out .2s;
}

.reservation-form input[type="submit"]:hover {
    background: var(--site-color-01);
    color: var(--site-color-03);
}

.reservation-form div::before{
    content: "📌";
    font-size: .85rem;
}

/* -----Rental Services Agreement Table--- */

.rental-agreement-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: .5rem;
    padding: 1.5rem 1.5rem 0;
}

.rental-agreement table {
    border-collapse: collapse;
}

.rental-agreement td {
    padding: .5rem .75rem;
    text-align: left;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.rental-agreement table ul li:before {
    content: '✓';
    font-family: var(--main-font-family);
    font-weight: 900;
    margin-right: .5rem;
}

.rental-agreement tbody tr:nth-child(odd) {
    background: rgba(20, 16, 35, .2);
}

/* -----Contact Page Styling--- */
.content-container-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
}

.company-location-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--site-color-05);
    padding: 0 1.5rem;
    margin-top: 2rem;
    width: 100%;
}

.company-location-card h3 {
    color: var(--site-color-06);
    padding: 1rem 0
}

.company-location-card p {
    color: var(--site-color-06);
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0 0 1rem;
}

.location-master-card {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: center;
    padding: 0 1.5rem;
}

.location-card-main,
.location-card-alt {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-self: center;
    width: 100%;
    padding: 1rem 0;
}

.location-card-main h4,
.location-card-alt h4{
    margin-bottom: .5rem;
}

.location-card-main iframe,
.location-card-alt iframe {
    width: 100%;
    height: auto;
    margin-top: .75rem;
}

.form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1.5rem;
    margin: 1rem 0 3rem;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.form-section h3 {
    align-self: flex-start;
    padding: .5rem 0;
}

.contact-form {
    width: 100%;
    max-width: 500px;
    border: 1px solid var(--site-color-01);
    border-radius: .25rem;
    padding: .5rem 2%;
}

.contact-form label {
    display: block;
    padding-top: .75rem;
    font-size: 1rem;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 0.75em;
    font-size: .9rem;
    appearance: none;
    max-width: 600px;
    border-radius: .25rem;
    margin-top: .25rem;
}

.contact-form #comment {
    padding-top: .75rem;
}

.contact-form input[type="submit"] {
    border: none;
    outline: none;
    border-radius: .25rem;
    height: 2.75em;
    padding: .75rem;
    max-width: 600px;
    font-family: var(--navigation-font-family);
    color: var(--site-color-06);
    font-size: 1.1rem;
    background: var(--site-color-05);
    box-shadow: 1px 1px 4px var(--site-color-01);
    width: 96%;
    margin: 1.5em 2% 1.5rem 2%;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.contact-form input[type="submit"]:hover {
    background: var(--site-color-01);
    color: var(--site-color-03);
}

/* -----Thank You Page Styling--- */
.thank-you-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1.5rem;
    padding: 0 1.5rem;
    margin: 2rem 0 20vh;
}

.thank-you-section > p {
    align-self: flex-start;
    line-height: 1.2rem;
    margin: 0;
}

/* -----Confirmation Page Styling--- */
.confirmation-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    row-gap: 1rem;
    padding: 0 1.5rem;
    margin: 2rem 0 3rem;
}

.confirmation-section p {
    align-self: flex-start
}

#clip-path-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.clip-path-image {
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    width: 100%;
    min-width: 250px;
    height: auto;
    margin: 1.5rem 0 0;
}
