/* Media Query for Larger Viewer */
@media (min-width: 48em) {
    nav ul {
        display: flex;
        flex-direction: row;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    .container-main {
        display: grid;
        grid-template-columns: 1fr 30%;
    }

    .container-main-title {
        grid-column: span 2;
    }
}
